* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: Swiss, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 12px;
  color: #67645e;
  -webkit-font-smoothing: antialiased;
}
.main-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  min-height: 100vh;
  padding: 1rem;
}
.header {
  position: sticky;
  z-index: 10;
  width: calc(100% - 2rem);
  transition: all 0.7s cubic-bezier(0.76, 0, 0.24, 1), color 0s, z-index 0s;
  top: 1rem;
  transform: translateY(0);
  color: #fff;
}
@media screen and (min-width: 821px) {
  .header {
    width: calc(100% - 4.5vw);
    /* padding: 2.25vw 0 0; */
  }
}
.header nav {
  position: relative;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  padding: 1.25rem min(2rem, 3vw);
  transition: all 0.7s cubic-bezier(0.76, 0, 0.24, 1);
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#skip-to-content {
  transition: none;
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.header nav > div {
  display: flex;
  width: 100%;
}
a {
  color: #67645e;
  text-decoration: none;
  transition: all 0.7s cubic-bezier(0.76, 0, 0.24, 1);
  cursor: pointer;
  background-color: transparent;
}
h3 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 821px) {
  .header nav a,
  .header nav div:not(.nav-left-container) {
    margin-right: 3rem;
    font-weight: 700;
  }
}
.u-showMd,
.u-showMd__flex,
.u-showMd__grid,
.u-showMd__inline,
.u-showMd__contents {
  display: none;
}
@media only screen and (min-width: 821px) {
  .u-showMd {
    display: block !important;
  }
}
.u-hideMd {
  display: block;
}
@media only screen and (min-width: 821px) {
  .u-hideMd,
  .u-hideMd__flex,
  .u-hideMd__inline,
  .u-hideMd__contents {
    display: none !important;
  }
}

@media only screen and (min-width: 760px) {
  .u-pSize,
  p,
  a {
    font-size: max(0.8rem, 1.125vw);
  }
}
.u-pSize,
p,
a {
  font-size: max(0.825rem + 0.2vw, 0.925vw);
  line-height: 150%;
  letter-spacing: 0.02em;
}

.Mobile-menu-toggle {
  display: flex;
  flex-flow: column;
}
.Mobile-menu-toggle svg,
.Mobile-menu-toggle svg rect {
  transition: 0.7s cubic-bezier(0.76, 0, 0.24, 1);
}
svg:not(:root) {
  overflow: hidden;
}
.header nav a:last-child,
.header nav div:not(.nav-left-container):last-child {
  margin-right: 0;
}
.Mobile-menu-wrapper {
  transition: 1s cubic-bezier(0.76, 0, 0.24, 1);
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  max-height: 0;
  display: flex;
  overflow: hidden;
}
.Mobile-menu-container {
  background: #f1f0ed;
  border-radius: 12px;
  padding-top: 3.5rem;
  height: 100%;
  width: 100%;
}
.Mobile-menu-content-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  padding: 1.5rem 1rem 1rem;
  color: #67645e;
  overflow-y: auto;
}
.Mobile-menu-content-container-section {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding-top: 1.5rem;
  border-top: 1px solid #c4c4c4;
}
@media print, screen and (min-width: 40em) {
  h3 {
    font-size: 1.9375rem;
  }
}
.Mobile-menu-content-container-section-title {
  margin: 0;
  line-height: 120%;
}
.Mobile-menu-content-container-section-title .link {
  color: #67645e;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.header .Logo {
  width: 100%;
  margin-right: 0;
}
.header .Logo img {
  position: relative;
  width: 100%;
  height: calc(26px + 0.5vw);
}
@media screen and (min-width: 821px) {
  .header .Logo svg {
    height: 30px;
  }
}
@media screen and (min-width: 821px) and (max-width: 1095px) {
  .header nav .nav-right-container {
    gap: 0;
  }
}
@media print, screen and (min-width: 64em) {
  .header nav .nav-right-container {
    gap: 0;
  }
}
.header nav .nav-right-container {
  justify-content: flex-end;
  gap: 1.4375rem;
}
@media screen and (min-width: 821px) and (max-width: 1095px) {
  .header nav .nav-right-container a {
    text-wrap: nowrap;
    margin-right: 0;
    margin-left: 3rem;
  }
}
.Footer {
  overflow: hidden;
  background-color: #f1f0ed;
  padding: 1.75rem 0;
  border-radius: 12px;
}
.Footer-logo {
  padding: 0 1rem 1.75rem;
  border-bottom: 1px solid #84827e;
}

img {
  width: 100%;
}
.Footer-content-container {
  display: flex;
  flex-flow: column;
}
.Footer-newsletter {
  padding: 1.75rem 1rem;
  border-bottom: 1px solid #84827e;
  max-width: 100%;
}
p {
  margin-bottom: 1em;
  text-rendering: optimizeLegibility;
}
.Footer-content {
  display: flex;
  flex-flow: column;
}
.Footer-info {
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #84827e;
  display: flex;
  flex-wrap: wrap;
}

.Footer nav {
  display: flex;
}
@media only screen and (max-width: 1080px) {
  .Footer nav {
    margin-top: 1.75rem;
  }
}
.u-bold {
  font-weight: 700;
}
.Footer-navigation-list ul {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
}
ul {
  margin-left: 1.25em;
  list-style-type: disc;
  line-height: 1.6;
}
@media only screen and (min-width: 540px) {
  .Footer-navigation-list ul li {
    margin-bottom: 1.5rem;
  }
}

.Footer-navigation-list ul li {
  margin-bottom: 1rem;
}
.Footer-info a {
  display: flex;
  align-items: center;
  margin: auto;
}

@media screen and (min-width: 760px) {
  .u-animate-underline,
  .u-animate-underline:hover {
    text-decoration: none;
  }
}
#content {
  z-index: 2;
}
main {
  color: #67645e;
  position: relative;
}
main {
  display: block;
}

/* Hero Section */

.Hero {
  position: relative;
  height: calc(100vh - 2rem);
  border-radius: 12px;
  overflow: hidden;
}

@media screen and (min-width: 760px) {
  .Hero {
    height: calc(100vh - 5rem);
    max-height: calc(100vh - 4.5vw);
  }
}

.bg-full-height {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.o-placeholder {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0 0 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-out 0.15s;
}

.c-image {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  transform: translate3d(0px, 0px, 0px) scale(1.0478, 1.04784);
}

.c-span {
  box-sizing: border-box;
  display: block;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;

  padding-bottom: 38.852097130242825%;
}

.c-img {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
