* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0.25em;
  background: transparent;
  line-height: 1;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 12px;
  color: #000;
  -webkit-font-smoothing: antialiased;
}
.main-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  min-height: 100vh;
  padding: 1rem 1rem 0;
}
.header {
  position: sticky;
  z-index: 10;
  width: 100%;
  transition: all 0.7s cubic-bezier(0.76, 0, 0.24, 1), color 0s, z-index 0s;
  top: 1rem;
  transform: translateY(0);
  color: #fff;
}

/* @media screen and (min-width: 821px) {
  .header {
    width: calc(100% - 4.5vw);
    padding: 2.25vw 0 0;
  }
} */

.header nav {
  position: relative;
  border-radius: 12px;
  display: flex;
  padding: 1.25rem min(2rem, 3vw);
  transition: all 0.7s cubic-bezier(0.76, 0, 0.24, 1);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #f1f0ed;
}
#skip-to-content {
  transition: none;
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.header nav > div {
  display: flex;
  width: 100%;
}
a {
  color: #000;
  text-decoration: none;
  transition: all 0.7s cubic-bezier(0.76, 0, 0.24, 1);
  cursor: pointer;
  background-color: transparent;
}
h3 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 821px) {
  .header nav a,
  .header nav div:not(.nav-left-container) {
    margin-right: 3rem;
    font-weight: 700;
  }
}
.u-showMd,
.u-showMd__flex,
.u-showMd__grid,
.u-showMd__inline,
.u-showMd__contents {
  display: none;
}
@media only screen and (min-width: 821px) {
  .u-showMd {
    display: block !important;
  }
}
.u-hideMd {
  display: block;
}
@media only screen and (min-width: 821px) {
  .u-hideMd,
  .u-hideMd__flex,
  .u-hideMd__inline,
  .u-hideMd__contents {
    display: none !important;
  }
}

@media only screen and (min-width: 760px) {
  .u-pSize,
  p,
  a {
    /* font-size: max(0.8rem, 1.125vw); */
  }
}
.u-pSize,
p,
a {
  /* font-size: max(0.825rem + 0.2vw, 0.925vw); */
  line-height: 150%;
  letter-spacing: -0.02em;
}

.Mobile-menu-toggle {
  display: flex;
  flex-flow: column;
}
.Mobile-menu-toggle svg,
.Mobile-menu-toggle svg rect {
  transition: 0.7s cubic-bezier(0.76, 0, 0.24, 1);
}
svg:not(:root) {
  overflow: hidden;
}
.header nav a:last-child,
.header nav div:not(.nav-left-container):last-child {
  margin-right: 0;
}
.Mobile-menu-wrapper {
  transition: 1s cubic-bezier(0.76, 0, 0.24, 1);
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  max-height: 0;
  display: flex;
  overflow: hidden;
}
.Mobile-menu-wrapper.is-open {
  max-height: 895px;
}
.Mobile-menu-container {
  background: #f1f0ed;
  border-radius: 12px;
  padding-top: 3.5rem;
  height: 100%;
  width: 100%;
}
.Mobile-menu-content-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  padding: 1.5rem 1rem 1rem;
  color: #000;
  overflow-y: auto;
}
.Mobile-menu-content-container-section {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding-top: 1.5rem;
  border-top: 1px solid #c4c4c4;
}
@media print, screen and (min-width: 40em) {
  h3 {
    font-size: 1.9375rem;
  }
}
.Mobile-menu-content-container-section-title {
  margin: 0;
  line-height: 120%;
}
.Mobile-menu-content-container-section-title .link {
  color: #67645e;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.header .Logo {
  width: 100%;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .Logo img {
  position: relative;
  width: 100%;
  height: calc(26px + 0.5vw);
}
@media screen and (min-width: 821px) {
  .header .Logo svg {
    height: 30px;
  }
}
@media screen and (min-width: 821px) and (max-width: 1095px) {
  .header nav .nav-right-container {
    gap: 0;
  }
}
@media print, screen and (min-width: 64em) {
  .header nav .nav-right-container {
    gap: 0;
  }
}
.header nav .nav-right-container {
  justify-content: flex-end;
  gap: 1.4375rem;
}
@media screen and (min-width: 821px) and (max-width: 1095px) {
  .header nav .nav-right-container a {
    text-wrap: nowrap;
    margin-right: 0;
    margin-left: 3rem;
  }
}
.Footer {
  overflow: hidden;
  background-color: #f1f0ed;
  padding: 1.75rem 0 0;
  border-radius: 12px;
}
.Footer-logo {
  padding: 0 1rem 1.75rem;
  border-bottom: 1px solid #84827e;
}

img {
  width: 100%;
}
.Footer-content-container {
  display: flex;
  flex-flow: column;
}
@media only screen and (min-width: 1080px) {
  .Footer-content-container {
    flex-flow: row;
    margin-top: 0;
  }
}
.Footer-newsletter {
  padding: 1.75rem 1rem;
  border-bottom: 1px solid #84827e;
  max-width: 100%;
}
@media only screen and (min-width: 1080px) {
  .Footer-newsletter {
    padding: 2.5rem;
    border-bottom: none;
    border-right: 1px solid #84827e;
  }
}
@media only screen and (min-width: 1080px) {
  .Footer-content {
    flex-flow: row-reverse;
    flex-wrap: nowrap;
  }
}
p {
  margin-bottom: 1em;
  text-rendering: optimizeLegibility;
}
.Footer-content {
  display: flex;
  flex-flow: column;
}
@media only screen and (min-width: 1080px) {
  .Footer-content {
    flex-flow: row-reverse;
    flex-wrap: nowrap;
  }
}
.Footer-info {
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #84827e;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 1080px) {
  .Footer-info {
    padding: 2.5rem;
    border-bottom: none;
    display: flex;
    flex-flow: row;
  }
}

.Footer nav {
  display: flex;
}
@media only screen and (max-width: 1080px) {
  .Footer nav {
    margin-top: 1.75rem;
  }
}
@media only screen and (min-width: 540px) {
  .Footer-navigation-list + .Footer-navigation-list {
    margin-left: 4vw;
  }
}
@media only screen and (max-width: 540px) {
  .Footer nav {
    justify-content: space-between;
    width: 100%;
  }
}
.u-bold {
  font-weight: 700;
}
.Footer-navigation-list ul {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
}
ul {
  margin-left: 1.25em;
  list-style-type: disc;
  line-height: 1.6;
}
@media only screen and (min-width: 540px) {
  .Footer-navigation-list ul li {
    margin-bottom: 1.5rem;
  }
}

.Footer-navigation-list ul li {
  margin-bottom: 1rem;
}
.Footer-info a {
  display: flex;
  align-items: center;
  margin: auto;
}

@media screen and (min-width: 760px) {
  .u-animate-underline,
  .u-animate-underline:hover {
    text-decoration: none;
  }
}

main {
  color: #000;
  position: relative;
}
main {
  display: block;
}

/* Hero Section */

.Hero {
  position: relative;
  height: 76svh;
  border-radius: 12px;
  overflow: hidden;
}

@media screen and (min-width: 760px) {
  .Hero {
    max-height: calc(100vh - 4.5vw);
  }
}

audio,
video {
  display: inline-block;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Hero video {
  position: absolute;
  width: 100%;
  top: -1px;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.Hero .video-play-pause {
  position: absolute;
  bottom: 12px;
  color: #fff;
  cursor: pointer;
  z-index: 3;
}

@media only screen and (min-width: 760px) {
  .Hero .video-play-pause {
    bottom: min(2.1rem, 3vw);
  }
}

@media only screen and (min-width: 760px) {
  .Hero .video-play-pause[data-desktop-alignment="right"] {
    right: min(2rem, 3vw);
  }
}

.Hero .video-play-pause[data-mobile-alignment="right"] {
  right: 0.75rem;
}

.Hero .hidden {
  display: none;
}

.Hero .video-play-pause .hidden {
  display: none;
}

.Hero .video-play-pause svg {
  cursor: pointer;
}

.o-placeholder {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0 0 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-out 0.15s;
}

.bg-full-height {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.c-image {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  transform: translate3d(0px, 0px, 0px) scale(1.0478, 1.04784);
}

.c-span {
  box-sizing: border-box;
  display: block;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;

  padding-bottom: 38.852097130242825%;
}

.c-img {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.Hero-content.BOTTOM_LEFT {
  justify-content: space-between;
}

.Hero-content {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: flex-start;
  left: 0;
  bottom: 0;
  padding: 0.75rem;
  z-index: 2;
}

@media only screen and (min-width: 760px) {
  .Hero-content {
    flex-flow: row;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: min(2rem, 3vw);
    width: 100%;
  }
}

.Hero-content-wrapper.BUTTON__LEFT {
  align-items: flex-start;
}

.Hero-content-wrapper.TEXT__LEFT {
  text-align: left;
}

@media only screen and (min-width: 760px) {
  .Hero-content-wrapper {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    margin: 0;
  }
}

.Hero-content-wrapper {
  margin: 1.5rem 0 0;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

@media only screen and (min-width: 760px) {
  .Hero-content h1 {
    margin-bottom: 0.75rem;
  }
}

.Hero-content h1 {
  font-size: min(11rem, 22vw);
  line-height: 120%;
  margin: 0;
  color: #fff;
}

@media print, screen and (min-width: 40em) {
  h1 {
    font-size: 3rem;
  }
}

h1 {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.margin-0 {
  margin-bottom: 0;
}

.weight-lighter {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: inherit;
  text-rendering: optimizeLegibility;
  letter-spacing: -0.06rem;
  text-transform: lowercase;
  line-height: 1.2;
  font-size: 1.2em;
}

.Hero-content .Button-container a {
  max-width: 89vw;
  text-overflow: ellipsis;
}

.Button:not(.Button__text-only-underline) {
  outline: none !important;
}

.Hero-content a {
  margin-bottom: 0;
}

.Button {
  --base-color: #d683b6;
  --label-color: #fff;
  --base-spacing: 0.5rem 1rem;
  /* font-size: max(0.875rem + 0.2vw, 0.925vw) !important; */
  font-weight: 400;
  white-space: nowrap;
  text-transform: lowercase;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  /* text-transform: uppercase; */
  padding: var(--base-spacing);
  border-radius: 12px;
  color: var(--label-color);
  /* box-shadow: inset 0 0 0 1px #fff; */
  text-decoration: none;
  border: none;
  line-height: 150%;
  background: transparent;
  position: relative;
}

.Hero-background {
  height: 100%;
}

.Button:hover {
  text-decoration: none;
  box-shadow: inset 0 0 0 1px var(#d683b6);
  background: #d683b6;
  color: #fff;
}

.Button__dark {
  --bas-color: #d683b6;
  color: #fff;
  box-shadow: inset 0 0 0 1px var(--base-color);
}

.Hero-content p {
  margin: 0 0 1.2rem;
  align-items: flex-end;
  font-size: calc(1.8rem + 0.2vw);
  line-height: 120%;
  margin-bottom: max(0.75rem, 0.75vw);
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 760px) {
  .Hero-content p {
    font-size: 2.5vw;
  }
}

/* Testimonial Section */
.testimonial-section {
  margin-top: 1.25rem;
}

@media only screen and (min-width: 760px) {
  .testimonial-section {
    margin-top: 2.25vw;
  }
}

.collection-slider {
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.collection-slider .custom-cursor-wrapper {
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
}

.collection-slider .custom-cursor-wrapper {
  position: relative;
}

.content-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  height: 100%;
  /* max-height: 95vh; */
  min-height: 27.5rem;
  outline: none;
}

@media only screen and (min-width: 760px) {
  .content-card {
    min-height: 0;
  }
}

.content-card > div {
  transition: all 0.7s cubic-bezier(0.76, 0, 0.24, 1);
}

.card-content {
  padding: 1rem 0.75rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

@media only screen and (min-width: 760px) {
  .card-content {
    padding: 1.75rem;
  }
}

.card-image {
  width: 100%;
  height: 431.667px;
  object-fit: cover;
  border-radius: 12px;
  overflow: hidden;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  flex-flow: column;
  overflow-x: scroll;
}

.swiper-wrapper::-webkit-scrollbar {
  opacity: 0;
}

.swiper-wrapper {
  transform: translate3d(0px, 0px, 0px);
}

@media print, screen and (min-width: 1040px) {
  .collection-slider .swiper-slide {
    height: auto;
  }
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.collection-slide {
  width: 100%;
  margin-right: 0px;
}

@media screen and (min-width: 760px) {
  .collection-slide {
    width: 433px;
  }
  .swiper-wrapper {
    flex-flow: row;
  }
}

.card-info {
  padding-top: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.content-title-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
  gap: 0.6rem;
}

@media screen and (min-width: 760px) {
  .swiper-wrapper {
    flex-flow: row nowrap;
    gap: 30px; /* even spacing between cards */
  }

  .collection-slide {
    flex: 0 0 calc((100% - 60px) / 3); /* 3 slides, 30px between each = 2 gaps */
    max-width: 100%;
  }
}

@media screen and (max-width: 759px) {
  .swiper-wrapper {
    flex-flow: row nowrap;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .collection-slide {
    flex: 0 0 80%;
    scroll-snap-align: start;
  }
}

.u-hSize--Small,
.u-hSize--Medium {
  font-size: min(2.5rem, 12vw);
  line-height: 120%;
}

@media only screen and (min-width: 821px) {
  .u-hSize--Medium {
    font-size: 4vw;
  }
}

.u-noMargin,
.u-noMargin p {
  margin: 0;
}

/* soft cta section */
.soft-cta-container {
  width: 100%;
  background: #67645e;
  color: white;
  border-radius: 12px;
  min-height: 45svh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.soft-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.soft-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.soft-cta-content {
  width: 100%;
  z-index: 2;
  display: inline-flex;
  flex-flow: column;
  align-items: center;
}

.soft-cta-title h1 {
  /* font-size: calc(1.5rem + 0.2vw); */
  text-align: center;
}

.soft-cta-paragraph {
  display: inline;
  text-align: center;
}

@media only screen and (min-width: 760px) {
  /* .soft-cta-title h1 {
    font-size: 2.5vw;
  } */
  .soft-cta-container {
    padding: 1rem 4.5rem;
  }
}

.section-header h1 {
  /* font-size: min(11rem, 22vw); */
  line-height: 120%;
  margin: 0;
}

.section-header p {
  margin: 0 0 1.2rem;
  align-items: flex-end;
  /* font-size: calc(1.5rem + 0.2vw); */
  line-height: 120%;
  margin-bottom: max(0.75rem, 0.75vw);
  letter-spacing: -0.06em;
  font-weight: 700;
}

.text-indent {
  text-indent: 1.6em;
}

.text-center {
  text-align: center;
}

/* About */
.About {
  padding: 1rem;
  width: 100%;
  min-height: 56svh;
}

.bg-black {
  background-color: black;
}

/* Events */
.Events {
  display: grid;
  gap: 2rem;
}

.Event {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.event-img {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  height: 100%;
  border-radius: 12px;
}

.event-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.event-info {
  display: grid;
  grid-template-rows: min-content;
}

/* Tablet & up */
@media screen and (min-width: 760px) {
  .Event {
    grid-template-columns: 1fr 2fr;
    align-items: start;
  }
}

.Button.filter {
  color: #000;
}

.Button.filter:hover {
  color: #fff;
}

.Blog-container {
  padding: 1rem;
  background: #dcd9d9;
  margin-bottom: 2.5rem;
  border-radius: 12px;
}

@media only screen and (min-width: 760px) {
  .Blog-container {
    padding: 2.5rem;
  }
}

.Blog-container-articles {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.BlogListItem {
  width: 100%;
  position: relative;
}

@media only screen and (min-width: 760px) {
  .BlogListItem {
    width: calc(50% - 1.3rem);
    margin: 0;
  }
}

.Image-container {
  grid-area: image;
  position: relative;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #f1f0ed,
    #a3a09b 0.01%,
    #d3d3d3
  );
  overflow: hidden;
}

.BlogListItem .Image-container {
  overflow: hidden;
  aspect-ratio: 4 / 2.25;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.BlogListItem-title,
.BlogListItem-content {
  margin-bottom: 0;
}

.BlogListItem-title {
  font-weight: 700;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.BlogListItem-content.category {
  color: #67645e;
  font-style: italic;
}

.Blog-container-filters {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin-bottom: 2.1875rem;
}

.Blog-container-filters-list {
  display: flex;
  gap: 0.75rem;
}

.Button__dark.active {
  --base-color: #67645e;
  background: var(--base-color);
  color: #fff;
  box-shadow: inset 0 0 0 1px var(--base-color);
}

@media only screen and (max-width: 760px) {
  .Blog-container-filters-list {
    overflow: scroll;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 760px) {
  .Blog-container-filters {
    display: block;
    margin-bottom: 1.25rem;
  }
}

.Post {
  width: 100%;
  padding: 1rem;
  margin-bottom: 6em;
}

.post-container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-flow: column;
  gap: 1rem;
  margin-top: 2rem;
}

@media screen and (min-width: 760px) {
  .post-container {
    max-width: 70%;
  }
}

.post-container > div {
  margin-bottom: 0.5rem;
}

.post-title h1 {
  margin: 0;
  align-items: flex-end;
  font-size: calc(1.8rem + 0.2vw);
  line-height: 120%;
  letter-spacing: -0.06em;
}

@media only screen and (min-width: 760px) {
  .post-title h1 {
    font-size: 2.5vw;
  }
}

.post-image {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 75%;
  overflow: hidden;
  border-radius: 12px;
}

@media screen and (min-width: 760px) {
  .post-image {
    padding-bottom: 50%;
  }
}

.post-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: top;
}

.filter-btn {
  border-radius: 40px;
  padding: 2.5px 20px;
  text-transform: uppercase;
}

.Form {
  position: relative;
  display: flex;
  flex-flow: column;
}

.Form__single-field {
  flex-flow: row;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

input {
  overflow: visible;
}

[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"],
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  border: 0.125rem solid #dddedc;
  border-radius: 0.25em;
  background-color: #fff;
  box-shadow: none;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #67645e;
  transition: border-color 0.25s ease-in-out;
  -webkit-appearance: none;
  appearance: none;
}

[type="date"]:focus,
[type="datetime"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="week"]:focus,
[type="email"]:focus,
[type="number"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="url"]:focus,
[type="color"]:focus,
textarea:focus {
  outline: none;
  border: 0.125rem solid #a3a3a3;
  background-color: #fff;
  box-shadow: none;
  transition: border-color 0.25s ease-in-out;
}

.Input {
  --text-color: #67645e;
  --border-radius: $border-radius;
  --padding: 18px 20px;
  color: var(--text-color);
  border-radius: var(--border-radius);
  padding: var(--padding);
  height: 48px;
  border: 0;
}

.Form__single-field .Input {
  border-radius: 12px 0 0 12px;
  margin-bottom: 0;
  font-size: max(0.91rem + 0.2vw, 0.925vw);
  height: auto;
}

.Form_multi .Input {
  border-radius: 12px;
}

.Form_multi .Footer-newsletter-submit {
  border-radius: 12px;
}

.Form .Input {
  width: 100%;
  height: 100%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 1rem;
  box-shadow: none;
  border: none;
  margin-bottom: 1rem;
}

.Form .Input:last-of-type {
  margin-bottom: 1.5rem;
}

.Form__single-field .Input:last-of-type {
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .Input {
    height: 60px;
  }
}

.Button__large {
  --base-spacing: 0.8rem 1.9rem 0.7rem;
}

.Button__white {
  --base-color: #67645e;
  color: var(--base-color);
  box-shadow: inset 0 0 0 1px var(--base-color);
  background: #fff;
}

.Footer-newsletter-submit-container {
  overflow: visible;
}

.Footer-newsletter-submit {
  overflow: auto;
  min-width: 6rem;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  box-shadow: none;
  border-radius: 0 12px 12px 0;
  background: #fff;
  border: 0 solid;
}

@media only screen and (min-width: 1080px) {
  .Footer-newsletter-submit {
    min-width: 8rem;
  }
}

.Footer-newsletter-success,
.Footer-privacy-policy {
  margin-top: 1rem;
}

.margin-right-0 {
  margin-right: 0 !important;
}

nav a {
  white-space: nowrap;
}

.EventTestimonials {
  grid-column: 1 / -1;
  background-color: #f1f0ed;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 2.25vw;
}

.card-content.event {
  padding: 0;
  margin-right: 1rem;
}

.contact-section {
  background-color: #f1f0ed;
  border-radius: 0.75rem;
  justify-content: center;
  align-items: center;
  margin-top: 1.25em;
  margin-bottom: 2.25vw;
  padding: 5rem 0 2.5rem;
  display: flex;
}

.contact-wrapper {
  width: 100%;
  max-width: 37.6875rem;
  min-height: 12.5rem;
  padding: 3.5rem 0 0;
}

.contact-title {
  color: #67645e;
  margin: 0 0 1.3125rem;
  font-size: clamp(1.5rem, 3.05556vw, 2.75rem);
  letter-spacing: -0.09rem;
  font-weight: 700;
  line-height: normal;
}

.contact-description p {
  color: #67645e;
  font-size: 1rem;
}

.contact-form {
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.4375rem;
  display: flex;
}

.contact-input-wrapper {
  flex-direction: column;
  gap: 1rem;
  display: flex;
}

.contact-textarea {
  min-height: 14.75rem;
  display: block;
  box-sizing: border-box;
  max-width: 100%;
}

.contact-input {
  appearance: none;
  color: #67645e;
  background: #fff;
  border: none;
  border-radius: 0.75rem;
  outline: 0.0625rem solid #0000;
  height: fit-content;
  margin: 0;
  padding: 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  transition: outline 0.1s;
}

.Button__fullWidth {
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

@media only screen and (max-width: 760px) {
  .contact-section {
    margin-bottom: 1.25rem;
    padding: 4rem 1rem 2.5rem;
  }
}

.section-header.brand {
  margin-top: 1.25rem;
}

@media only screen and (min-width: 760px) {
  .section-header.section-header.brand {
    margin-top: 2.25vw;
  }
}

.NoteWithImage {
  background: #f1f0ed;
  overflow: hidden;
  border-radius: 12px;
  text-align: center;
  padding: 2.8125rem 0.9375rem 1.875rem;
  margin-top: 1.2rem;
}

@media screen and (min-width: 760px) {
  .NoteWithImage {
    padding: 4.375rem;
  }
}

.NoteWithImage .u-pSize {
  max-width: max(42rem, 48vw);
  margin: 0 auto;
  color: #67645e;
}

.About p {
  max-width: max(42rem, 48vw);
  margin: 0 auto;
}

.price-flex {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.price-flex h2 {
  color: #3f3f3f;
}

.blog-deet {
  color: #67645e;
  text-transform: lowercase;
  font-size: 13px;
  font-weight: 600;
}

.Collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .Collection {
    grid-template-columns: repeat(4, 1fr);
  }
}

.Product-card {
  background: #f1f0ed;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.image-container {
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1 / 1;
  background: white;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Product-info {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.padding-top {
  padding-top: 1rem;
}

.Product-title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.Product-price {
  font-size: 0.9rem;
  color: #666;
}

.Button {
  margin-top: 0.5rem;
}

@media only screen and (min-width: 821px) {
  .u-hSize--Medium {
    font-size: 4vw;
  }
}

.product {
  padding: 1rem;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

@media screen and (min-width: 760px) {
  .product {
    grid-template-columns: 1fr 1fr;
  }
}

.product-img {
  border-radius: 12px;
  overflow: hidden;
}

.product-info > * {
  margin-bottom: 0.5rem;
}
